@charset "UTF-8";
/*
Theme Name:     Divi Child
Theme URI:      http://www.paginadeltema.com
Description:    Descripción del tema
Author:         Yo
Author URI:     http://www.paginadelautor.com
Template:       Divi
Version:        1.0.0
Text Domain:    DiviChild
*/
#top-menu .current_page_item a {
  color: #f00 !important;
}
#top-menu li {
  font-size: 18px;
}
#top-menu li:hover {
  text-decoration: underline;
}

.anuncio .et_pb_module_header {
  font-size: 28px;
}

.section-light {
  background-color: rgba(0, 0, 0, 0.1);
}

.section-title {
  color: #000;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}

.section-info-text {
  font-size: 20px;
  line-height: 35px;
  padding: 0 70px;
  text-align: center;
}

#mapa_container > .et_pb_code_inner {
  height: 100%;
}
#mapa_container .map_class {
  height: 100%;
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .section-title {
    font-size: 35px;
  }

  .section-info-text {
    font-size: 12px;
    line-height: 29px;
    padding: 0 20px;
    text-align: center;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .section-info-text {
    font-size: 16px;
    line-height: 29px;
    padding: 0 20px;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .section-info-text {
    font-size: 18px;
    line-height: 29px;
    padding: 0 20px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .section-info-text {
    font-size: 20px;
    line-height: 29px;
    padding: 0 20px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .section-info-text {
    font-size: 24px;
    line-height: 29px;
    padding: 0 20px;
  }
}

/*# sourceMappingURL=style.css.map */
